@media screen and (max-width: 620px) {
    .display-message {
        height: 9vh;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar {
        height: 8vh;
    }
    
    .shop-info-header {
        padding-left: 15vw;
        height: 8vh;
    }

    .shop-info-header__text {
        line-height: 130%;
    }

    .book-intro--border {
        display: flex;
        justify-content: center;
    }

    .book-intro__title {
        font-size: 2.8rem;
        line-height: 130%;
    }

    .book-intro__title span {
        display: inline-block;
    }

    .shop-book-intro-wrapper {
        width: 70%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .sticker-intro__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
    }

    .sticker-intro-wrapper {
        width: 70%;
        padding: 5vh 0;
    }

    .sticker-intro__title {
        font-size: 2.8rem;
        line-height: 130%;
    }

    .sticker-intro__title span {
        display: inline-block;
    }

    .sticker-intro__description {
        line-height: 160%;
    }

    .intro-description {
        width: 100%;
    }

    .intro-description-wrapper {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .intro-description__title {
        font-size: 3rem;
        line-height: 130%;
    }

    .intro-description__title span {
        display: inline-block;
    }

    .interview-header {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .interview-header span {
        width: 70%;
    }

    .interview-text h2 {
        font-size: 3rem;
    }

    .interview-text span {
        display: inline-block;
    }

    .empty-header,
    .side-bar {
        display: none;
    }

    .side-bar--responsive {
        display: block;
    }

    .shop-side-bar {
        display: none;
    }

    .main-section {
        border-left: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar__title {
        display: none;
    }

    .nav-bar__menu {
        padding-left: 10vw;
        width: 100%;
    }

    .nav-bar__menu li {
        font-size: 2.2rem;
    }

    .nav-bar__icon {
        width: 25%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .nav-bar__menu {
        width: 40%;
    }
}

/* @media screen and (max-width: 768px) {
    .interview-header {
        height: 10vh;
    }
} */

@media screen and (max-width: 1024px) {
    .interview-section-wrapper {
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    .tumblbug-header {
        height: 9vh;
        line-height: 130%;
        padding-left: 15vw;
    }

    .header-wrapper {
        width: 70%;
    }

    .tumblbug-header span {
        display: inline-block;
    }

    .market-poster {
        width: 70%;
    }

    .intro-description-wrapper {
        padding-right: 0;
    }

    .text-container {
        padding-left: 30vw;
    }

    .shop-display {
        padding-left: 15vw;
    }

    .book-intro {
        display: flex;
        justify-content: center;
    }

    .book-intro-wrapper {
        width: 70%;
        margin-bottom: 15vh;
    }

    .nh-cup {
        width: 45%;
    }
}

@media screen and (max-width: 620px) {
    .book-intro__content {
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .book-intro__content:first-child,
    .book-intro__content:nth-child(2) {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .team-screen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 12vh;
        height: 100vh;
    }

    .team-description {
        width: 90%;
        text-align: center;
        margin: 0;
    }

    .team-description__title {
        margin-bottom: 2.5vh;
    }
    
    .team-description__text {
        line-height: 200%;
    }
    
    .team-description__btn {
        width: 30rem;
        height: 5.5rem;
    }

    .team-image {
        width: 100%;
        margin-top: 4.0161vh;
    }
}