.interview-header {
    display: flex;
    align-items: center;
    height: 12.149vh;
    font-weight: 700;
    font-size: 1.8rem;
    padding-left: 7vw;
}

.interview-header span {
    width: 80%;
    line-height: 150%;
}

.interview-section {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: var(--border);
}

.interview-section-wrapper {
    width: 63.0556vw;
}

.interview-text {
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 5vh;
    margin-bottom: 12.0482vh;
}

.interview-text h4,
.interview-text b {
    font-weight: 700;
}

.interview-text--image-margin {
    margin-top: 3.6144vh; 
}

.interview-screen--bg {
    background-image: url("/images/stars.png");
    background-size: 100%;
    background-repeat: round;
}