.interview-header {
    display: flex;
    align-items: center;
    /* height: 12.249vh; */
    font-weight: 700;
    font-size: 1.8rem;
    padding: 3vh 0;
    padding-left: 7.5vw;
}

.interview-header span {
    /* width: 80%; */
    line-height: 178%;
}

.interview-section {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: var(--border);
}

.interview-section-wrapper {
    width: 63.0556vw;
}

.interview-text {
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 5vh;
    margin-bottom: 12.0482vh;
}

.interview-text h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 175%;
}

.interview-text b {
    font-weight: 700;
}

.interview-text--image-margin {
    margin-top: 3.6144vh; 
}

.interview-screen--bg {
    background-image: url("/images/stars.svg");
    background-size: 100%;
    background-repeat: space;
}

.interview-link-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
    line-height: 130%;
    height: 12.0482vh;
    border-bottom: var(--border);
}

.green-emoji {
    position: absolute;
}