.team-screen {
    display: flex;
    border-bottom: var(--border);
    height: 65vh;
}

.team-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57.1528vw;
    margin-right: 7.1528vw;
}

.team-description-wrapper {
    width: 80%;
}

.team-description__title {
    font-weight: 800;
    font-size: 3.2rem;
    margin-bottom: 2.008vh;
}

.team-description__subtitle {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 4.0161vh;
}

.team-description__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 186%;
    color: black;
    margin-bottom: 4.0161vh;
}

.team-description__btn {
    border: none;
    cursor: pointer;
    width: 35.1rem;
    height: 5.5rem;
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 4px;
}

.team-image {
    width: 42.8472vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.team-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
margin-top: 3.012vh;
margin-left: 5.5556vw;
}

.footer span {
    font-size: 1.6rem;
    color: black;
}

.footer span:first-child {
font-weight: 700;
margin-right: 7.6389vw;
}

.footer span:nth-child(2) {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

.footer {
    height: 10vh;
}