.display-header {
    display: flex;
    align-items: center;
    padding-left: 18vw;
    height: 6.1245vh;
    font-weight: 700;
    font-size: 1.8072vh;
    color: var(--green);
}

.intro-section {
    display: flex;
    height: 30.4217vh;
    border-top: var(--border);
    border-bottom: var(--border);
}

.side-bar {
    width: 20%;
    /* width: 17.0833vw; */
}

.side-bar__menu {
    height: 100%;
    border-right: var(--border);
}

.side-bar__menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.3%;
    font-weight: 700;
    font-size: 2.1084vh;
    /* font-size: 1.4583vw; */
    color: var(--purple);
}

.side-bar__menu li:nth-child(2) {
    border-top: var(--border);
    border-bottom: var(--border);
}

.side-bar__menu .clicked {
    color: var(--white);
    background-color: var(--purple);
}

.intro-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.9167vw;
}

.intro-description-wrapper {
    width: 80%;
}

.intro-description__title {
    font-weight: 800;
    font-size: 3.2129vh;
    /* font-size: 2.2222vw; */
    margin-bottom: 1.50602vh;
}

.intro-description__date {
    font-weight: 400;
    font-size: 1.8072vh;
    /* font-size: 1.25vw; */
    margin-bottom: 2.008vh;
}

.intro-description__text {
    font-weight: 400;
    font-size: 1.4056vh;
    /* font-size: 0.9722vw; */
    line-height: 186%;
}