.nav-bar {
    display: flex;
    align-items: center;
    height: 7.0281vh;
    border-bottom: var(--border);
}

.nav-bar__column {
    width: 33.3%;
    box-sizing: border-box;
}

.nav-bar__title {
    font-size: 2.1rem;
    font-weight: 800;
    color: var(--purple);
    padding-left: 4.5139vw;
}

.nav-bar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__menu li {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--purple);
}

.nav-bar__icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 5.4167vw;
}